<html>
<head>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1.1', {packages: ['line']});
    google.setOnLoadCallback(getDataPoints);

  </script>
</head>
<body>
    <input type="hidden" id="userId" value="'<%= @current_user.id %>'">
	 <div class="container workout-form">
    <div class="one column"></div>
    <div class="ten columns" id="linechart_material"></div>
    <div class="one column"></div>
  </div>

</body>
</html>