
<h1>Welcome....now go work out!</h1>

<br>

<div class="results-box">
	<h1 class="results-header">View your progress</h1><br>
	<h3><%= link_to 'Chest Workout', chest_results_path %>  |
	<%= link_to 'Back Workout', back_results_path %>  |
	<%= link_to 'Legs Workout', legs_results_path %></h3>
</div>	
