
<h3>Welcome....now go work out!</h3>

<br>


<h3 class="results-header">View your progress</h3><br>

<h4><%= link_to 'Chest Workout', chest_results_path %>  |
<%= link_to 'Back Workout', back_results_path %>  |
<%= link_to 'Legs Workout', legs_results_path %></h4>
<% if (current_user) %>
	<h3 class="results-header">Feel like a run instead?</h3><br>
	<h4><%= link_to 'Track your run distance', controller: 'users', id: 0 , action: 'tracker' %></h4>
<% end %>

	
