<html>
<head>
	<title>Chest Progression</title>
</head>
<body>
	<input type="hidden" id="userId" value='<%= @current_user.id %>'>
	<div class="container workout-form">
		<div class="one column"></div>
		<div class="ten columns" id="linechart_material"></div>
		<div class="one column"></div>
	</div>

</body>

<script type="text/javascript">

    $(function() {
      getDataPoints();
    })
</script>
</html>