.workout-form {
	position: relative;
	left: 10px;
}

#new-workout {
	margin:0 auto;
	
}

.layout-yield {
	background-color: lightgreen;
	max-width: 80%;
	margin: 0 auto;
}

.pitt-gif {
	max-width: 100%;
	max-height: 100%;
	margin:0 auto;
}

.center {
	text-align: center;
	margin: 0 auto;
}